{% extends 'baseAdmin.html.twig' %}
{% import 'macros/macros_heading.html.twig' as macros %}

{% block title %}Student index{% endblock %}

{% block body %}
    {% if macros.panel_heading is defined %}
        {{ macros.panel_heading("Student") }}
    {% endif %}
    <div class="container-fluid">
        <h1>Student index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Username</th>
                <th>Email</th>
{#                <th>Password</th>#}
{#                <th>CreatedAt</th>#}
{#                <th>UpdatedAt</th>#}
{#                <th>Roles</th>#}
                <th>Address</th>
                <th>Phone</th>
                <th>Cne</th>
                <th>City</th>
                <th>CodeMassar</th>
                <th>Classe</th>
                {% if app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_FORMER") %}
                     <th>actions</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
{#                    <td>{{ student.password }}</td>#}
{#                    <td>{{ student.createdAt ? student.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                    <td>{{ student.updatedAt ? student.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                    <td>{{ student.roles ? student.roles|json_encode : '' }}</td>#}
                    <td>{{ student.address }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.cne }}</td>
                    <td>{{ student.city }}</td>
                    <td>{{ student.codeMassar }}</td>
                    <td>{{ student.classe }}</td>

                    {% if app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_FORMER") %}
                        <td>
                            <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                            <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="15">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_FORMER") %}

        <a href="{{ path('student_new') }}">Create new</a>
        {% endif %}

    </div>

{% endblock %}
