{% extends 'baseAdmin.html.twig' %}
{% import 'macros/macros_heading.html.twig' as macros %}

{% block title %}Courses index{% endblock %}

{% block body %}
    {% if macros.panel_heading is defined %}
        {{ macros.panel_heading("Cours") }}
    {% endif %}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Class</th>
                <th>Matiére</th>
                <th>Formateur</th>
                <th>Start</th>
                <th>End</th>
                {% if app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_FORMER") %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.classe.name }}</td>
                <td>{{ course.matiere.name }}</td>
                <td>{{ course.former.firstName }} {{ course.former.lastName }}</td>
                <td>{{ course.courseAt ? course.courseAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ course.finishedAt ? course.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_FORMER") %}
                    <td>
                        <a href="{{ path('courses_show', {'id': course.id}) }}">show</a>
                        <a href="{{ path('courses_edit', {'id': course.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_FORMER") %}
        <a href="{{ path('courses_new') }}">Create new</a>
    {% endif %}
    </div>
{% endblock %}
