{% extends 'baseAdmin.html.twig' %}
{% import 'macros/macros_heading.html.twig' as macros %}

{% block title %}Courses{% endblock %}

{% block body %}
    {% if macros.panel_heading is defined %}
        {{ macros.panel_heading("Show Cours") }}
    {% endif %}
<div class="container-fluid">

<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ course.classe.name }}</td>
            </tr>
            <tr>
                <th>Matiére</th>
                <td>{{ course.matiere.name }}</td>
            </tr>

            <tr>
                <th>Formateur</th>
                <td>{{ course.former.firstName }} {{ course.former.lastName }}</td>
            </tr>

            <tr>
                <th>Start</th>
                <td>{{ course.courseAt ? course.courseAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ course.finishedAt ? course.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('courses_index') }}">back to list</a>

    <a href="{{ path('courses_edit', {'id': course.id}) }}">edit</a>

    {{ include('courses/_delete_form.html.twig') }}
</div>
{% endblock %}
